@import '../styles';


//this shows how you can use colors from main theme

.primary {
	color: mat-color($primary, default);
}
.accent {
	color: mat-color($accent, default);
}
.warn {
	color: mat-color($warn, default);
}

.halfSegment {
	width:50%;
	height:550px;
	display:inline-block;
	outline-color: black;
	outline-width: 0px;
	outline-style: solid;

	.topLeftSegment {
		height:40%;
		background-color:rgb(240,240,240);
		outline-color: black;
		outline-width: 0px;
		outline-style: solid;
	}
	
	.bottomLeftSegment{
		background-color: #999;
		height:60%;
		overflow: auto;
		outline-color: black;
		outline-width: 0px;
		outline-style: solid;
	}

	.topRightSegment{
		background-color:rgb(200,200,200);
		height:35%;
		outline-color: black;
		outline-width: 0px;
		outline-style: solid;
	}
	.midRightSegment{
		background-color:rgb(150,150,150);
		height:20%;
		outline-color: black;
		outline-width: 0px;
		outline-style: solid;
	}
	.bottomRightSegment{
		background-color:rgb(100,100,100);
		height:45%;
		overflow: auto;
	}
}

.reviewCard {
	height:200px;
	background-color:rgb(200,200,200);
	outline-color: black;
	outline-width: 0px;
	outline-style: solid;
	position: relative;
}

.employeeCard {
	height:auto;
	background-color:rgb(80,80,80);
	outline-color: black;
	outline-width: 0px;
	outline-style: solid;
	width:100%;
	display:block;
	margin:auto;
}

.reviewRating {
	opacity: .6;
}

.reviewRating:hover {
	opacity: 1;
	img{
		filter: sepia(100%);
	}
}

.smallReviewArrow {
	width:10%;
	height:100%;
	display:inline-block;
	background-color:#999;
	border-radius: 10px;
}

.smallReviewArrow:hover{
	background-color:#666;
}

.TLButton {
	background-color:rgb(250,250,250);
	display:inline-block;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	border-radius: 5px;
	height:50%;
}

.TLButton:hover {
	background-color:rgb(250, 250, 210);
}

.TeamConfig{
	display:block;
	 margin:auto;
	 width:40px;
	 height:40px;
	 border-radius: 50%;
}

.TeamConfig:hover{
	filter: sepia(100%);
}

#ratingText {
	text-align:center;
	vertical-align: middle;
}

.reviewStar {
	padding:5px;
	width:40px;
	height:40px;
	border-radius: 50%;
	display:inline-block;
}

.smallReviewStar {
	width:40px;
	height: 40px;
	border-radius: 50%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.midReviewStar {
	width:60px;
	height:60px;
	border-radius:50%;
	display:block;
	margin:auto;
}

.projectStar{
	width:80px;
	height:80px;
	border-radius:50%;
	display:block;
	margin:auto;
}