@import '../styles';


//this shows how you can use colors from main theme

.primary {
	color: mat-color($primary, default);
}
.accent {
	color: mat-color($accent, default);
}
.warn {
	color: mat-color($warn, default);
}

.halfSegment {
	width:50%;
	background-color:#369;
	height:550px;
	display:inline-block;
	outline-color: black;
	outline-width: 0px;
	outline-style: solid;

	.topLeftSegment {
		background-color: #666;
		height:40%;
		outline-color: black;
		outline-width: 1px;
		outline-style: solid;
	}
	
	.bottomLeftSegment{
		background-color: #999;
		height:60%;
		overflow: auto;
		outline-color: black;
		outline-width: 1px;
		outline-style: solid;
	}

	.topRightSegment{
		background-color:rgb(200,200,200);
		height:35%;
		outline-color: black;
		outline-width: 1px;
		outline-style: solid;
	}
	.midRightSegment{
		background-color:rgb(150,150,150);
		height:20%;
		outline-color: black;
		outline-width: 1px;
		outline-style: solid;
	}
	.bottomRightSegment{
		background-color:rgb(100,100,100);
		height:45%;
		overflow: auto;
		outline-color: black;
		outline-width: 1px;
		outline-style: solid;
	}
}

.reviewCard {
	height:200px;
	background-color:#669;
	outline-color: black;
	outline-width: 1px;
	outline-style: solid;
	position: relative;
}

.employeeCard {
	height:auto;
	background-color:#868;
	outline-color: black;
	outline-width: 0px;
	outline-style: solid;
	width:100%;
}


.reviewRating {
	opacity: .6;
}

.reviewRating:hover {
	opacity: 1;
	img{
		filter: sepia(100%);
	}
}