<!--The content below is only a placeholder and can be replaced.-->
<mat-card *ngIf="employee">
	<p><b>Hello {{employee.full_name}}</b></p>
	<p>Title: {{employee.title}}</p>
	<br/>
	<p>Welcome back to {{employee.organization}}</p>
	<p>widget mode: {{mode}}</p>
	<p class="primary">some text</p>
	<p class="accent">some text</p>
	<p class="warn">some text</p>
	<button mat-raised-button color="primary" *ngIf="mode == 'small'">SMALL MODE BUTTON</button>
	<button mat-raised-button color="warn" *ngIf="mode == 'large'">LARGE MODE BUTTON</button>
	<a mat-button target="_blank" href="https://material.angular.io/">GO TO MATERIAL DOCS</a>
	<div>
		<div>
			<input [(ngModel)]='projectName' placeholder="Project Name">
			<button (click)="addProject()">Add Project</button>
		</div>
		<div>
			<button (click)="getProjects()">Get Projects</button>
		</div>
	</div>
</mat-card>

<div fxLayout="row" fxLayout.xs="column">
	<mat-card fxFlex="100" style="margin: 5px">A card with some content</mat-card>
	<mat-card fxFlex="100" style="margin: 5px">A card with some content</mat-card>
	<mat-card fxFlex="100" style="margin: 5px">A card with some content</mat-card>
</div>

<!-- Demo Layout-->
<div>
	<button (click)="constructReviewCard()"> Add Review </button>
	<button (click)='toggleAdmin()'> Toggle Admin ({{ !isAdmin }}) </button>
	<button (click)='addEmployee()'> Add Employee </button>
	<button (click)='toggleReview()'> Review Mode ({{ !isReviewing }}) </button>
	<mat-card>
		<!-- Large -->
		<div *ngIf="mode == 'large'">
			<div class="halfSegment">
				<div class='topLeftSegment'>
					<div style='background-color:#598;height:20%'>
						<select>
							<option *ngFor='let project of projects'>
								{{ project.projectName }}
							</option>
						</select>
					</div>
					<div style='background-color:#636;height:60%'>
						<div style='float:left; height:50%; width:100%; margin-bottom:-50px;'></div>
						<span *ngFor='let a of temp' style='display:inline-block; vertical-align: middle'>
								<img src='https://i.imgur.com/ITsgIeg.jpg' style='padding:10px; width:80px;height:80px;border-radius: 50%; display:inline-block; overflow-x: hidden;' *ngIf='a.a > 2'>
								<img src='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg' style='padding:10px; width:80px;height:80px;border-radius: 50%; display:inline-block; overflow-x: hidden;' *ngIf='!(a.a > 2)'>
						</span>
					</div>
					<div style='background-color:#538;height:20%'>
						<span style='display:inline-block; width:100%; background-color:#598'>
							<div> Click! </div>
							<div> Click! </div>
						</span>
					</div>
				</div>
				<div class='bottomLeftSegment' id='reviewCardSection'>
					<div  *ngIf='isReviewing'>
						<div class='reviewCard' *ngFor='let review of reviewCards'>
							<div>
								<div style='width:30%;display:inline-block'>
									<img src='https://i.imgur.com/ITsgIeg.jpg' style='padding:5px; width:40px;height:40px;border-radius: 50%; display:inline-block; overflow-x: hidden;'>
									<img src='https://i.imgur.com/ITsgIeg.jpg' style='padding:5px; width:40px;height:40px;border-radius: 50%; display:inline-block; overflow-x: hidden;'>
									<img src='https://i.imgur.com/ITsgIeg.jpg' style='padding:5px; width:40px;height:40px;border-radius: 50%; display:inline-block; overflow-x: hidden;'>
									<img src='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg' style='padding:5px; width:40px;height:40px;border-radius: 50%; display:inline-block; overflow-x: hidden;'>
									<img src='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg' style='padding:5px; width:40px;height:40px;border-radius: 50%; display:inline-block; overflow-x: hidden;'>
								</div>
								<div style='display:inline-block;width:70%;text-align: center'>
									<div style='width:70%;display:inline-block;' *ngIf='isAdmin'>
										<div style='width:50%;display:inline-block;'> Reviewer > Reviewee </div>
										<div style='width:50%;display:inline-block;'> Edited by: Guy </div>
									</div>
									<div style='width:25%;display:inline-block;text-align: right;padding-left:10px;padding-right:10px'> 12/12/12 </div>
								</div>
							</div>
							<div style='background-color:orange; height:50%; padding:10px;'>
								<span style='vertical-align:middle;text-align: center'> {{ review.name }} </span>
							</div>
							<div style='background-color:mediumaquamarine; float:right;position:absolute;bottom:0;right:0;'>
								<button *ngIf='isAdmin'> Edit </button>
								<button> Flag </button>
							</div>
						</div>
					</div>
					<div *ngIf='!(isReviewing)'>
						<div>
							<p> Review Mode </p>
							<div style='display:block; width: 50%;margin-left:auto;margin-right:auto;padding-bottom:20px;'>
								<div class='reviewRating' style='display:inline-block; width:20%'>
									<img src='https://www.petguide.com/wp-content/uploads/2014/02/Pomsky-main.jpg' style='width:60px;height:60px;border-radius:50%;display:block; margin:auto;'>
								</div>
								<div class='reviewRating' style='display:inline-block; width:20%'>
									<img src='http://cdn1-www.dogtime.com/assets/uploads/gallery/samoyed-dogs-and-puppies/samoyed-dogs-puppies-1.jpg' style='width:60px;height:60px;border-radius:50%;display:block; margin:auto;'>
								</div>
								<div class='reviewRating' style='display:inline-block; width:20%'>
									<img src='https://pbs.twimg.com/profile_images/925702999095119872/F2ppKp1x_400x400.jpg' style='width:60px;height:60px;border-radius:50%;display:block; margin:auto;'>
								</div>
								<div class='reviewRating' style='display:inline-block; width:20%'>
									<img src='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg' style='width:60px;height:60px;border-radius:50%;display:block; margin:auto;'>
								</div>
								<div class='reviewRating' style='display:inline-block; width:20%'>
									<img  src='http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Swedish-Vallhund-1.jpg' style='width:60px;height:60px;border-radius:50%;display:block; margin:auto;'>
								</div>
							</div>
							<input style='display:block; width: 90%;margin-left:auto;margin-right:auto; padding-top: -20px; height:150px;vertical-align: top'>
							<div style='display:block;margin-left:auto;margin-right:auto;width:90%;background-color:#969'>
								<div style='display:inline-block;margin-left:auto;margin-right:auto;width:50%;background-color:#369'>
									<button style='display:block;margin-left:auto;margin-right:auto;width:50%;'> Cancel </button>
								</div>
								<div style='display:inline-block;margin-left:auto;margin-right:auto;width:50%;background-color:#963'>
									<button style='display:block;margin-left:auto;margin-right:auto;width:50%;'> Submit </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="halfSegment">
				<div class='topRightSegment'>
					<div style='width:100%; height:30%; display:block; background-color:green'>
						<div style='display:block; margin-left:auto; margin-right:auto; width:50%; text-align: center; height:100%;'> Overall Rating Average </div>
						<div style='display:block; margin-left:auto; margin-right: auto; width: 80%; background-color:purple; height: 100%;'> Graph </div>
					</div>
				</div>
				<div class='midRightSegment'>
					<!-- Title Info-->
					<div style='width:100%; display:block; height:50%; background-color: palegoldenrod; position:relative;'>
						<div style='width:45%; text-align:left; display:inline-block; padding-left:5%; height:100%;'>
							asdf
						</div>
						<div style='width:45%; text-align:right; display:inline-block; padding-right:5%; height:100%;'>
							asdf
						</div>
					</div>

					<!-- Searching & Sorting -->
					<div style='width:100%; display:block; height:50%; background-color:red;'>
						<div style='width:90%; display:block; margin-left:auto; margin-right:auto; height:100%; position:relative; background-color:blue;'>
							<div style='display:inline-block; height:auto; margin:auto; position:absolute; bottom:0; left: 0; padding:10px;'>
								<input placeholder="Search Members">
							</div>
							<div style='display:inline-block; height:auto; margin:auto; position:absolute; bottom:0; right: 0; padding:10px;'>
								<select>
									<option> Sort By... </option>
									<option> Sort By... </option>
									<option> Sort By... </option>
									<option> Sort By... </option>
									<option> Sort By... </option>
									<option> Sort By... </option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class='bottomRightSegment'>
					<div class='employeeCard' *ngFor='let employee of projectEmployees'>
						<div style='height:100%;background-color:#679;'>
							<div style='display:inline-block; width:10%; height:100%'>
								<img src='https://cms-uploads.adoptapet.com/e/4/d/5.png' style='display:block;margin:auto;width:80px;height:80px;border-radius: 50%;'>
							</div>
							<div style='display:inline-block; height:100%; width:45%;background-color:aqua;vertical-align: middle;'>
								<section style='height:100%'> temp </section>
							</div>
							<div style='display:inline-block;  width:15%; height:100%'>
								<img src='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_400x400.jpg' style='display:block;margin:auto;width:60px;height:60px;border-radius: 50%;'>
							</div>
							<div style='display:inline-block; width:15%; height:100%;'>
								<img src='https://myfirstshiba.com/wp-content/uploads/2016/01/AdobeStock_115842268_white_background-copy.jpg' style='display:block; margin:auto;width:60px;height:60px;border-radius: 50%;'>
								
							</div>
							<div style='display:inline-block;  width:15%; height:100%'>
								<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg0D9TmiRXoWe2EQQby3d5jiWK5anHcWowsy4Pa_P9hfZyqSw' style='display:block;margin:auto;width:60px;height: 60px;border-radius: 50%;'>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-card>
</div>